@import '~antd/dist/antd.css';

.ant-layout-header {
  background: #3979e5;

  h1{
    color: white;
  }
}

.ant-layout-content {
  background-color: white;
  min-height: calc(100vh - 124px);
}

.ant-layout-footer {
  text-align: center;
  padding: 16px 50px;

  img {
    height: 28px;
  }
}
